<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发票列表</title>
<link href="../../Content/css/BackControl/ComplainList.css" rel="stylesheet" type="text/css" />
</head>
<body>
<link href="../../Content/css/BackControl/bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/BackControl/bootstrap.js"></script>
<link href="../../Content/css/BackControl/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/BackControl/clean.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/BackControl/model.css" rel="stylesheet" type="text/css" />
<table width="747" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="62" colspan="2"><div class="span12">
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#">Home</a></li>
      </ul>
    </div></td>
  </tr>
  <tr>
    <td width="59%" height="62"><div class="row-fluid">
      <div class="span6">
        <div class="page-header">
          <h1> Example page header</h1>
          <h1> <small>Subtext for header</small> </h1>
        </div>
      </div>
      <div class="span6"></div>
    </div></td>
    <td width="41%"><div class="span6">
      <form class="form-search">
        <input type="text" class="input-medium search-query" />
        <button type="submit" class="btn">Search</button>
      </form>
    </div></td>
  </tr>
  <tr>
    <td height="342" colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="157"><div class="span4">
          <h2> Heading </h2>
          <p> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p> <a class="btn" href="#">View details »</a> </p>
        </div></td>
        <td><div class="span4">
          <h2> Heading </h2>
          <p> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p> <a class="btn" href="#">View details »</a></p>
        </div></td>
        <td><div class="span4">
          <h2> Heading </h2>
          <p> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p> <a class="btn" href="#">View details »</a></p>
        </div></td>
      </tr>
      <tr>
        <td height="45"><div class="span6">
          <button class="btn btn-primary" type="button">Button</button>
        </div></td>
        <td><div class="span6">
          <button class="btn btn-primary" type="button">Button</button>
        </div></td>
        <td><div class="span6">
          <button class="btn btn-primary" type="button">Button</button>
        </div></td>
        </tr>
      <tr>
        <td height="146">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle"><div class="span12">
      <div class="pagination pagination-centered">
        <ul>
          <li> <a href="#">Prev</a> </li>
          <li> <a href="#">1</a> </li>
          <li> <a href="#">2</a> </li>
          <li> <a href="#">3</a> </li>
          <li> <a href="#">4</a> </li>
          <li> <a href="#">5</a> </li>
          <li> <a href="#">Next</a> </li>
        </ul>
      </div>
    </div></td>
  </tr>
</table>
</body>
</html>
