<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>无标题文档</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/bootstrap.js"></script>
<link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<link href="css/clean.css" rel="stylesheet" type="text/css" />
</head>

<body>
<script src="../../Scripts/BackControl/bootstrap.js"></script>
<link href="../../Content/css/BackControl/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/BackControl/clean.css" rel="stylesheet" type="text/css" />

<table align="center" >
<tr>
<td>
<blockquote>&nbsp;</blockquote>
<div class="container-fluid" style="width:1200px;">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1 >
					积分系统 <span style="color:#666;font-size:15px;">请通过填写下列表单获取您的积分</span>
				</h1>
			</div>
			<blockquote>
				<p>
					<span>请您认真填写下列表单，我们会通过您输入的发票号码来获取您的消费消息。您获得的积分是和您的消费金额成一比一关系。我们会根据您的积分为您在后续消费中给予优惠，感谢您支持我们的公司。</span>
				</p> <small>长运出租车董事长 盛雯</small>
			</blockquote>
			<div class="row-fluid">
				<div class="span6">
					<form>
						<fieldset>
						  <legend style="color:#3CF">乘车换优惠</legend>
						  <p style="color:#66F;">当前等级：5  </p>
						  <p  style="color:#C60;">当前优惠： 积分满2000可换取50元话费</p>
							 <p>发票号
                             </p>
							 <p>
							   <input type="text" /> 
							   <span class="help-block">一张发票仅能作用一次</span>
					      </p>
							 <button type="submit" class="btn">提交</button>
						</fieldset>
					</form>
				</div>
			  <div class="span6">
<table class="table">
						<thead>
							<tr>
							  <th>
									编号</th>
							  <th>
									发票号</th>
								<th>报销时间</th>
								<th>
									金额</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Default
								</td>
							</tr>
							<tr class="success">
								<td>
									2</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Approved
								</td>
							</tr>
							<tr class="error">
								<td>
									3</td>
								<td>
									TB - Monthly
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									Declined
								</td>
							</tr>
							<tr class="warning">
								<td>
									4</td>
								<td>
									TB - Monthly
								</td>
								<td>
									03/04/2012
								</td>
								<td>
									Pending
								</td>
							</tr>
							<tr class="info">
								<td>
									5</td>
								<td>
									TB - Monthly
								</td>
								<td>
									04/04/2012
								</td>
								<td>
									Call in to confirm
								</td>
							</tr>
						</tbody>
					</table>
					<p style="color:#999;">最近5笔积分记录 </p> <button type="submit" class="btn">所有记录</button>
                </div>
			</div>
		</div>
	</div>
</div>
</td>
</tr>
</table>
</body>
</html>
