
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="content-language" content="zh-cn" />
<title>
新闻内容
</title>

<style type="text/css">
.td_title a {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 270px;
display:block;
}


#pubtimeandfrom{
	font-family:楷体;
	font-size:14px;
	color:#666;
	
	}
</style>
<link href="../../Content/css/BackControl/clean.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="text">
  <div id="tit_text">
<h1 id="title" align="center">深圳部分绿的司机相约停业</h1>
</div>
<div class="clear"></div>
<div class="text_function">
<div id="pubtimeandfrom">
<span id="pubtime">
时间：2012-12-22 21：22：22
</span>
<br /> 
<span id="from">
来源： <a href="">程冉（1152703）</a>
</span>
</div>
<div class="tiyi01" id="advisebox01" style="display:none">
</div>
</span>
</div>
</div>
<div class="clear"></div>
<div id="contentblock">
<span id="content">
<br/>
<br/>
<p style="TEXT-ALIGN: center" align="center">
  <img style="BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px;width:600px; height:400px;" id="{AEA937E9-2595-4B9A-B701-A4E75A28B282}" title=""  border="0" hspace="0" align="center"  src="../../Content/picture/FrontPage/blog-02a-large.jpg"/></p>
<p style="TEXT-ALIGN: left" align="left"><font color="navy" face="楷体">  &nbsp; &nbsp; &nbsp; &nbsp;昨日下午5时，深圳市宝安区街头竟然难以打到一辆绿的。记者昨日走遍宝安区多个片区发现，许多绿的停在街头，车窗处都放着“暂停营业”的牌子。司机们告诉  记者，深圳绿的遭遇非法营运的伤害很大，他们早想“休息几天”。前日凌晨发生一起的哥被砍伤事件成为昨日停工的导火线，司机担忧营运时的安全问题。</font></p>
</span>
<p style="TEXT-ALIGN: left" align="left"><span><font color="navy" face="楷体"> </font></span></p>
<span>
<center />
<div width="100%">

</div>
<script language="javascript">function turnpage(page){  document.all("div_currpage").innerHTML = document.all("div_page_roll"+page).innerHTML;}</script>
</span>
</div>
  </body>
</html>